<section class="p-4">
    <a href="/objects" class="bg-grey-100 rounded p-2">
        <span class="icon-arrow-left"></span>
        back</a>
    <h2 class="font-light">Object {{id}}</h2>

    <div>
        <div class="flex flex-col">
            <label for="name" class="font-light text-lg">Name</label>
            <input id="name" type="text" [formControl]="name"/>
        </div>

        <div class="flex flex-col">
            <label for="description" class="font-light text-lg">Description</label>
            <textarea id="description" [formControl]="description"></textarea>
        </div>
    </div>
    <div class="flex justify-end p-2 gap-x-2">
        <button class="bg-grey-100 p-2 rounded border-red border-2 bg-red-100 text-red">Cancel Changes</button>
        <button class="bg-grey-100 p-2 rounded" (click)="onSubmit()">Update Object</button>
    </div>
</section>
