

/*
    BACKGROUND STYLES
*/



/*
    HEIGHT STYLES
*/
.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}



/*
    TEXT STYLES
*/

.text-lg {
    font-size: 1.125rem;
}

.whitespace-nowrap {
    white-space: nowrap;
}

/*
    FONT STYLES
*/
.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: 300;
}
.underline {
    text-decoration: underline;
}
.no-underline {
    text-decoration: none;
}

