<section class="p-8">
    <a 
        href="/objects" 
        class="
            rounded p-2
            active:ring-blue-300 active:ring-2
            bg-gray-100 hover:text-gray-700 hover:bg-gray-200 
        "
    >
        <span class="icon-arrow-left "></span>
        back
    </a>

    <br/>
    
    <form class="shadow-sm p-4 rounded my-3">
        <fieldset class="rounded p-2 border-0 w-full">
            <legend>
                <h2 class="font-light">
                    Object Details
                </h2>
            </legend>
            <hr/>
            <br/>

            <br/>
            <div class="flex flex-col">
                <label for="name" class="font-light text-lg">Name</label>
                <input id="name" type="text" [formControl]="name"/>
            </div>
    
            <br/>
    
            <div class="flex flex-col">
                <label for="description" class="font-light text-lg">Description</label>
                <textarea id="description" [formControl]="description"></textarea>
            </div>
        </fieldset>
    </form>
    <div class="flex justify-end p-2 gap-x-2">
        <button 
        class="
        p-2 rounded 
        transition-all 
        active:ring-blue-300 active:ring-2
        bg-gray-100 hover:text-gray-700 hover:bg-gray-200 
        " 
        (click)="onSubmit()"
        >
        Create Object
    </button>
    </div>
</section>
